<div class="container">
    <form name="registerForm" ng-submit="$ctrl.submit()" novalidate>
        <div class="form-group">
            <input type="text"
                   class="register-input"
                   id="name"
                   name="name"
                   ng-model="$ctrl.user.name"
                   placeholder="nombre">
        </div>
        <div class="form-group">
            <select class="register-select"
                    id="country"
                    ng-model="$ctrl.user.country"
                    name="country">
                <option value="" disabled selected>país</option>
                <option ng-repeat="country in $ctrl.countries" value="{{country.code}}">{{country.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text"
                   class="register-input"
                   id="userName"
                   ng-class="{ 'error-message' : registerForm.userName.$invalid, 'valid' : registerForm.userName.$valid}"
                   name="userName"
                   ng-model="$ctrl.user.userName"
                   placeholder="nombre de usuario"
                   required>
            <div ng-messages="registerForm.userName.$error" ng-show="registerForm.userName.$invalid" class="error-message" role="alert">
                <div ng-message="required"><span>Requerido</span></div>
            </div>
        </div>
        <div class="form-group">
            <input type="email"
                   class="register-input"
                   id="email"
                   name="email"
                   ng-model="$ctrl.user.email"
                   ng-class="{ 'error-message' : registerForm.email.$invalid, 'valid' : registerForm.email.$valid }"
                   placeholder="email"
                   required>
            <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$invalid" class="error-message" role="alert">
                <div ng-message="required"><span>Requerido</span></div>
                <div ng-message="email"><span>Email no válido</span></div>
            </div>
        </div>
        <div class="form-group">
            <input type="password"
                   class="register-input"
                   ng-class="{ 'error-message' : registerForm.password.$invalid, 'valid' : registerForm.password.$valid }"
                   id="password"
                   name="password"
                   ng-pattern="$ctrl.passwordPattern"
                   ng-model="$ctrl.user.passwordHash"
                   placeholder="contraseña"
                   required>
            <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$invalid" class="error-message" role="alert">
                <div ng-message="pattern"><span>La contraseña debe contener al mínimo 8 caracteres, números, mayúsculas y minúsculas.</span></div>
                <div ng-message="required"><span>Requerido</span></div>
            </div>
        </div>
        <div class="form-group">
            <input type="text"
                   class="register-input"
                   ng-class="{ 'error-message' : registerForm.dni.$invalid, 'valid' : registerForm.dni.$valid }"
                   id="dni"
                   name="dni"
                   ng-model="$ctrl.user.dni"
                   placeholder="dni"
                   dni-validator
                   required>
            <div ng-messages="registerForm.dni.$error" ng-show="registerForm.dni.$invalid" class="error-message" role="alert">
                <div ng-message="dni"><span>El dni no es valido</span></div>
                <div ng-message="required"><span>Requerido</span></div>
            </div>
        </div>
        <button type="submit" ng-disabled="registerForm.$invalid" >REGISTER</button>
    </form>
</div>
